.accept-terms-text {
  font-size: 14px;
  margin: 0 0 0 10px;
}

.accept-terms-checkbox {
  margin-top: 3px;
}

.assistance-description {
  min-height: 150px;
}

.header {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.messages {
  margin-top: 20px;
}

.submit-button {
  margin: 15px 0 10px auto;
  display: block;
}

.submit-success__list {
  list-style: none;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0;
}

.assistance-firstname,
.assistance-lastname,
.assistance-email,
.assistance-select {
  min-height: 60px;
}
